@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    background-color: #000;
    color: #AAA;
    margin: 0px;
    padding: 0px;
    font-family: Manrope;
}

section {
    width: 100vw;
    height: 100vh;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

h1 {
    font-size: 5em;
}

#bio {
    width: 90vw;
    padding: 1em;
    border: 1px solid #AAA;
}

/*#skills {
    
}*/

li {
    list-style-type: none;
    padding: 3em 0px;
    text-align: center;
}

/*#projects {
    
}*/

.projects-images {
    display: block;
    margin: auto;
    width: 80vw;
}